body {
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
  padding: 20px;
}

.light {
  background: white;
  color: black;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #555;
  width: 60%;
}

ul {
  text-align: left;
  max-width: 400px;
  margin: auto;
}